.primary-feature {
  --flow-space: var(--space-l-xl);
}
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
}
.flex-center > * {
  flex-basis: 50%;
  flex-shrink: 1;
}
@media screen and (max-width: 802.98px) {
  .flex-center > * {
    flex-basis: 100%;
  }
}
.wrapper {
}
