html {
  font-size: 112.5%;
  scroll-behavior: smooth;
}

/* Line Heights */
body {
  line-height: 1.4;
  letter-spacing: 1px;
}
h2,
h3,
h4 {
  line-height: 1;
  letter-spacing: 2px;
}
ul {
  list-style: none;
}
strong {
  font-weight: 700;
}
/* Character Limits and Fonts */
p,
li,
blockquote {
  max-width: 50ch;
}

h2,
h3,
h4,
h5,
h6 {
  max-width: 30ch;
  font-family: var(--ff-special);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

/* Font Sizes and Weights */
h2 {
  font-weight: var(--fw-900);
  font-size: var(--step-5);
}
h3 {
  font-weight: var(--fw-700);
  font-size: var(--step-4);
}
h4 {
  font-weight: var(--fw-700);
  font-size: var(--step-3);
}
h5 {
  font-weight: var(--fw-700);
  font-size: var(--step-2);
}
h6 {
  font-weight: var(--fw-700);
  font-size: var(--step-1);
}
p,
blockquote {
  font-weight: var(--fw-600);
  font-size: var(--step-0);
}

a {
  text-decoration: none;
  font-size: var(--step-1);
}
