footer {
  background-color: var(--Darkmoderatecyan-lighter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--space-s-xl);
  align-items: center;
}
footer a {
  color: var(--Darkmoderatecyan);
  cursor: pointer;
}
.bottom-logo {
  filter: invert(51%) sepia(68%) saturate(305%) hue-rotate(118deg)
    brightness(83%) contrast(80%);
}
.footer-sites,
.footer-socials {
  margin-top: var(--space-s);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: center;
}

.footer-sites a:hover {
  color: var(--White);
}
.footer-socials a:hover {
  filter: invert(100%) sepia(100%) saturate(27%) hue-rotate(316deg)
    brightness(106%) contrast(100%);
}
