header {
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center bottom;
  min-height: 100dvh;
  background-size: cover;
}

@media screen and (min-width: 376px) {
  header {
    background-image: url("../images/desktop/image-header.jpg");
  }
}

.header-top {
  padding: var(--space-l) 0;
  width: calc(100% - 2 * var(--space-m-3xl));
  margin-inline: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 1;
}
[data-type="desktop"] .header-top {
  display: flex;
  gap: var(--space-xs);
  justify-content: space-between;
}
.header-center {
  margin-bottom: var(--space-xl-3xl);
}
@media screen and (max-height: 550px) {
  .arrow {
    display: none;
  }
}
[data-type="desktop"] ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-l);
}
.logo {
  height: var(--step-1);
}
[data-type="desktop"] li a {
  color: var(--White);
  padding: var(--space-3xs) var(--space-s);
  border-radius: 3rem;
}
[data-type="desktop"] .contact {
  color: var(--Verydarkdesaturatedblue);
  background-color: var(--White);
}
[data-type="desktop"] .contact:hover {
  color: var(--White);
  background-color: rgba(255, 255, 255, 0.2);
}
[data-state="menu-closed"] nav {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(0, 0, 0, 0);
  border: 0;
}
[data-state="menu-opened"] .header-center {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

[data-state="menu-opened"] nav {
  margin-top: var(--space-xl);
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  grid-column: span 2;
}
nav a {
  font-size: var(--step-1);
}
[data-state="menu-opened"] ul {
  background-color: var(--White);
  display: grid;
  gap: var(--space-l);
  justify-items: center;
  padding: var(--space-l) 0;
}
[data-state="menu-opened"] .before-container {
  width: var(--space-m);
  height: var(--space-m);
  background-color: var(--White);
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
  transform: translate(10px, 1px);
  margin-left: auto;
}
[data-type="mobile"] .hamburger {
  display: block;
  margin-left: auto;
  cursor: pointer;
  height: 50px;
  display: block;
}
[data-type="mobile"] ul a {
  color: var(--Darkgrayishblue);
}

[data-type="desktop"] .hamburger {
  display: none;
}
