*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
}
input,
textarea,
button,
select {
  font: inherit;
}
html {
  color-scheme: dark light;
}
body {
  min-height: 100vh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
