.secondary-feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
  position: relative;
}
.secondary-feature picture,
.secondary-feature img {
  width: 100%;
  min-height: 600px;
  object-fit: cover;
}
.secondary-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.secondary-container > *:nth-child(2) {
  padding-inline: var(--space-s-l);
  padding-bottom: var(--space-l);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* flex-wrap: wrap; */
  inset: 0;
}

.secondary-container > *:nth-child(2) > * + * {
  margin-top: var(--space-3xs);
}
