.bg-green {
  background-color: var(--Darkmoderatecyan);
}
.flex-column {
  flex-direction: column;
  display: flex;
}

.full-width {
  width: 100%;
}
.feature__content {
  padding: var(--space-m);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
